@inject ItemsService ItemsService
@inject RunesService RunesService
@inject CrushService CrushService
@inject CharacteristicsService CharacteristicsService
@inject ILogger<Server> Logger
@page "/servers/{ServerName}"
@using BestCrush.Domain.Models
@using BestCrush.Domain.Services
@using BestCrush.Extensions
@using DofusSharp.Dofocus.ApiClients.Models.Items
@using DofusSharp.Dofocus.ApiClients.Models.Runes
@using DofusSharp.DofusDb.ApiClients.Models.Characteristics
@using DofusSharp.DofusDb.ApiClients.Models.Items
@using Microsoft.Extensions.Logging

<div class="container">
    <form method="post" @onsubmit="Search" @formname="search-form">
        <div class="input-group mb-3">
            <span class="input-group-text">Level</span>
            <InputNumber @bind-Value="Model!.LevelMin" class="form-control" placeholder="Min" aria-label="Min" disabled="@_searching"/>
            <span class="input-group-text">to</span>
            <InputNumber @bind-Value="Model!.LevelMax" class="form-control" placeholder="Max" aria-label="Max" disabled="@_searching"/>
        </div>

        <div class="d-flex justify-content-center mb-4">
            @if (_allItems is null)
            {
                <button class="btn btn-primary" type="submit" @onclick="Count" disabled="@_searching">Search items</button>
            }
            else
            {
                <button class="btn btn-outline-primary" type="button" @onclick="Count" disabled="@_searching">Search items</button>
            }
        </div>

        @if (_allItems is not null)
        {
            <div class="text-center">Found a total of @_allItems.Length items.</div>

            <div class="d-flex justify-content-center my-4">
                <button class="btn btn-primary" type="submit" disabled="@_searching">Find the <span class="fw-semibold">Best Crush</span></button>
            </div>

            @if (_searching)
            {
                int ranked = _rankedItems?.Count ?? 0;
                int unranked = _unrankedItems?.Count ?? 0;
                int done = ranked + unranked;
                double ratio = (double)done / _allItems.Length;
                int percent = (int)(ratio * 100);

                {
                    <div class="progress mb-4" role="progressbar" aria-label="Basic example" aria-valuenow="@done" aria-valuemin="0" aria-valuemax="@_allItems.Length">
                        <div class="progress-bar progress-bar-striped progress-bar-animated text-bg-warning" style="width: @percent%">@done / @_allItems.Length</div>
                    </div>
                }
            }
        }
    </form>


    @if (_unrankedItems is not null && _rankedItems is not null)
    {
        @if (_rankedItems.Count > 0)
        {
            <div class="my-4">
                <ul class="list-group list-group-flush rounded">
                    @foreach (ItemCrushResult item in _rankedItems.OrderByDescending(r => r.Benefits))
                    {
                        double yield = item.Benefits / item.Cost;
                        int yieldPercent = (int)(yield * 100);

                        {
                            <li class="list-group-item">
                                <div class="d-flex gap-4">
                                    <div class="d-flex align-items-start justify-content-center">
                                        @if (item.ItemIcon is not null)
                                        {
                                            <img src="data:@item.ItemIcon" width="64" height="64" alt="Item icon"/>
                                        }
                                    </div>
                                    <div>
                                        <div>@item.Item.Name?.Localize() Lv. @item.Item.Level</div>
                                        <div>Cost: @item.Cost <img src="img/kama-20.png" alt="Kama" width="20" height="20"/></div>
                                        <div>
                                            Price: @item.Price <img src="img/kama-20.png" alt="Kama" width="20" height="20"/>
                                            @if (item.FocusedCharacteristic is null)
                                            {
                                                <span class="text-secondary ms-1">(without focus)</span>
                                            }
                                            else
                                            {
                                                DofusDbCharacteristic? characteristic = _allCharacteristics.TryGetValue(item.FocusedCharacteristic.Value, out DofusDbCharacteristic? c) ? c : null;
                                                string characteristicStr = characteristic?.Name?.Localize() ?? item.FocusedCharacteristic.Value.ToDisplayName();
                                                <span class="text-secondary ms-1">(with focus: @characteristicStr)</span>
                                            }
                                        </div>
                                        <div>
                                            @if (item.Benefits >= 0)
                                            {
                                                <span class="text-success">
                                                    +@item.Benefits <img src="img/kama-20.png" alt="Kama" width="20" height="20"/> (+@yieldPercent%)
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">
                                                    @item.Benefits <img src="img/kama-20.png" alt="Kama" width="20" height="20"/> (@yieldPercent%)
                                                </span>
                                            }
                                        </div>
                                    </div>
                                    <div class="flex-grow-1"></div>
                                    <div class="d-flex align-items-start justify-content-center">
                                        <button class="btn btn-outline-secondary" @onclick="() => RefreshBenefits(item.Item)" disabled="@_searching">Refresh</button>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        }

        @if (_unrankedItems.Count > 0)
        {
            <div class="my-4">
                <p>Could not compute results for items:</p>
                <ul class="text-secondary">
                    @foreach (DofusDbItem item in _unrankedItems.Take(10))
                    {
                        <li>@item.Name?.Localize() Lv. @item.Level</li>
                    }
                </ul>
            </div>
        }
    }
</div>

@code {

    [Parameter]
    public required string ServerName { get; set; }

    [SupplyParameterFromForm]
    private Request? Model { get; set; }

    private bool _searching;
    Dictionary<Characteristic, DofusDbCharacteristic> _allCharacteristics = [];
    DofusDbItem[]? _allItems;
    List<ItemCrushResult>? _rankedItems;
    List<DofusDbItem>? _unrankedItems;

    protected override async Task OnInitializedAsync()
    {
        Model ??= new Request();
        IReadOnlyDictionary<long, DofusDbCharacteristic> dofusDbCharacteristics = await CharacteristicsService.GetDofusDbCharacteristicsAsync();
        _allCharacteristics = dofusDbCharacteristics.Select(kv => (Characteristic: CharacteristicsService.GetCharacteristicFromDofusDb(kv.Value), DofusDbCharacteristic: kv.Value)).Where(kv => kv.Characteristic.HasValue).ToDictionary(kv => kv.Characteristic!.Value, kv => kv.DofusDbCharacteristic);
    }

    async Task Count()
    {
        if (_searching)
        {
            return;
        }

        _rankedItems = null;
        _unrankedItems = null;

        IReadOnlyCollection<DofusDbItem> allItems = await ItemsService.GetItemsAsync();
        DofusDbItem[] items = FilterItems(allItems).ToArray();
        _allItems = items;
    }

    async Task Search()
    {
        if (_searching)
        {
            return;
        }

        _searching = true;
        try
        {
            _rankedItems = null;
            _unrankedItems = null;

            Task<IReadOnlyCollection<DofusDbItem>> itemsTask = ItemsService.GetItemsAsync();
            Task<IReadOnlyDictionary<Characteristic, DofocusRune>> runesByCharacteristicAsync = RunesService.GetRunesByCharacteristicAsync();
            Task<Dictionary<long, double>> runePricesTask = RunesService.GetRunePricesAsync(ServerName);

            await Task.WhenAll(itemsTask, runesByCharacteristicAsync, runePricesTask);

            DofusDbItem[] items = FilterItems(itemsTask.Result).ToArray();
            _allItems = items;

            StateHasChanged();

            IReadOnlyDictionary<Characteristic, DofocusRune> runeByCharacteristic = runesByCharacteristicAsync.Result;
            Dictionary<long, double> runePrices = runePricesTask.Result;
            Dictionary<long, Characteristic> characteristicByRune = runeByCharacteristic.ToDictionary(kv => kv.Value.Id, kv => kv.Key);
            Dictionary<Characteristic, double> characteristicPrices = runePrices.Select(kv => (Characteristic: characteristicByRune.TryGetValue(kv.Key, out Characteristic characteristic) ? characteristic : (Characteristic?)null, Price: kv.Value)).Where(kv => kv.Characteristic.HasValue).ToDictionary(kv => kv.Characteristic!.Value, kv => kv.Price);

            _rankedItems = [];
            _unrankedItems = [];

            foreach (DofusDbItem item in items)
            {
                try
                {
                    ItemCrushResult? result = await ComputeBenefit(item, characteristicPrices, false);
                    if (!result.HasValue)
                    {
                        _unrankedItems.Add(item);
                    }
                    else
                    {
                        _rankedItems.Add(result.Value);
                    }

                    StateHasChanged();
                }
                catch (Exception exn)
                {
                    _unrankedItems.Add(item);
                    Logger.LogError(exn, "Error while processing item {ItemName} ({ItemId})", item.Name?.En ?? item.Slug?.En ?? "???", item.Id);
                }
            }

        }
        finally
        {
            _searching = false;
        }
    }

    async Task RefreshBenefits(DofusDbItem item)
    {
        if (_rankedItems is null || _searching)
        {
            return;
        }

        _searching = true;
        try
        {
            await RunesService.ClearCachesAsync();

            IReadOnlyDictionary<Characteristic, DofocusRune> runeByCharacteristic = await RunesService.GetRunesByCharacteristicAsync();
            Dictionary<long, double> runePrices = await RunesService.GetRunePricesAsync(ServerName);
            Dictionary<long, Characteristic> characteristicByRune = runeByCharacteristic.ToDictionary(kv => kv.Value.Id, kv => kv.Key);
            Dictionary<Characteristic, double> characteristicPrices = runePrices.Select(kv => (Characteristic: characteristicByRune.TryGetValue(kv.Key, out Characteristic characteristic) ? characteristic : (Characteristic?)null, Price: kv.Value)).Where(kv => kv.Characteristic.HasValue).ToDictionary(kv => kv.Characteristic!.Value, kv => kv.Price);
            ItemCrushResult? result = await ComputeBenefit(item, characteristicPrices, true);
            if (!result.HasValue)
            {
                return;
            }

            _rankedItems.RemoveAll(m => m.Item.Id == item.Id);
            _rankedItems.Add(result.Value);
        }
        catch (Exception exn)
        {
            Logger.LogError(exn, "Error while processing item {ItemName} ({ItemId})", item.Name?.En ?? item.Slug?.En ?? "???", item.Id);
        }
        finally
        {
            _searching = false;
        }
    }

    async Task<ItemCrushResult?> ComputeBenefit(DofusDbItem item, Dictionary<Characteristic, double> characteristicPrices, bool forceRefresh)
    {
        if (item.Id is null)
        {
            return null;
        }

        DofocusItem detailedItem = await ItemsService.GetItemAsync(item.Id.Value, forceRefresh);

        DofocusCoefficientRecord? itemCoefficient = detailedItem.Coefficients.Where(c => c.ServerName == ServerName).OrderByDescending(c => c.LastUpdate).FirstOrDefault();
        if (itemCoefficient == null)
        {
            return null;
        }

        DofocusItemPriceRecord? itemCost = detailedItem.Prices.Where(r => r.ServerName == ServerName).OrderByDescending(r => r.LastUpdate).FirstOrDefault();
        if (itemCost is null)
        {
            return null;
        }

        CrushedItemPrice crushedPrice = await ComputeCrushedItemPriceAsync(detailedItem, itemCoefficient.Coefficient, characteristicPrices);
        KeyValuePair<Characteristic, (double Min, double Max)> maxPriceWithFocus = crushedPrice.WithFocus.OrderByDescending(kv => kv.Value.Max).FirstOrDefault();

        Characteristic? focusedCharacteristic;
        double price;
        if (maxPriceWithFocus.Value.Max > crushedPrice.WithoutFocus.Max)
        {
            focusedCharacteristic = maxPriceWithFocus.Key;
            price = maxPriceWithFocus.Value.Max;
        }
        else
        {
            focusedCharacteristic = null;
            price = crushedPrice.WithoutFocus.Max;
        }

        double benefits = price - itemCost.Price;

        string? icon = await ItemsService.GetItemIconAsync(detailedItem);
        ItemCrushResult result = new(item, icon, itemCost.Price, price, benefits, focusedCharacteristic);
        return result;
    }

    IEnumerable<DofusDbItem> FilterItems(IReadOnlyCollection<DofusDbItem> items)
    {
        IEnumerable<DofusDbItem> result = items;

        if (Model?.LevelMin is not null)
        {
            result = result.Where(i => i.Level >= Model.LevelMin);
        }

        if (Model?.LevelMax is not null)
        {
            result = result.Where(i => i.Level <= Model.LevelMax);
        }

        return result;
    }

    async Task<CrushedItemPrice> ComputeCrushedItemPriceAsync(DofocusItem item, double coefficient, Dictionary<Characteristic, double> runePrices)
    {
        IReadOnlyDictionary<long, (DofocusItemCharacteristic Characteristic, double Min, double Max)> runesWithoutFocus = CrushService.GetRunesWithoutFocus(item, coefficient);
        double minPriceWithoutFocus = 0;
        double maxPriceWithoutFocus = 0;
        foreach ((DofocusItemCharacteristic Characteristic, double Min, double Max) line in runesWithoutFocus.Values)
        {
            Characteristic? characteristic = await CharacteristicsService.GetCharacteristicFromDofocusAsync(line.Characteristic);
            if (characteristic is null)
            {
                continue;
            }

            double runePrice = runePrices.GetValueOrDefault(characteristic.Value);
            minPriceWithoutFocus += runePrice * line.Min;
            maxPriceWithoutFocus += runePrice * line.Max;
        }
        (double minPriceWithoutFocus, double maxPriceWithoutFocus) priceWithoutFocus = (minPriceWithoutFocus, maxPriceWithoutFocus);

        Dictionary<Characteristic, (double, double)> pricesWithFocus = new();
        foreach (DofocusItemCharacteristic dofocusCharacteristic in item.Characteristics)
        {
            Characteristic? characteristic = await CharacteristicsService.GetCharacteristicFromDofocusAsync(dofocusCharacteristic);
            if (characteristic is null)
            {
                continue;
            }

            double runePrice = runePrices.GetValueOrDefault(characteristic.Value);
            int from = dofocusCharacteristic.From;
            int to = dofocusCharacteristic.To == 0 ? dofocusCharacteristic.From : dofocusCharacteristic.To;
            (double, double) priceWithFocus = (runePrice * from, runePrice * to);

            pricesWithFocus.Add(characteristic.Value, priceWithFocus);
        }

        return new CrushedItemPrice(priceWithoutFocus, pricesWithFocus);
    }

    readonly record struct CrushedItemPrice((double Min, double Max) WithoutFocus, IReadOnlyDictionary<Characteristic, (double Min, double Max)> WithFocus);

    readonly record struct ItemCrushResult(DofusDbItem Item, string? ItemIcon, double Cost, double Price, double Benefits, Characteristic? FocusedCharacteristic);

    public class Request
    {
        public int? LevelMin { get; set; }
        public int? LevelMax { get; set; }
    }

}