@using BestCrush.Models
<div class="d-flex gap-1">
    @if (Amount.HasValue)
    {
        <span class="fw-semibold" style="font-size: @(TextSizeInPx)px;line-height: @(TextSizeInPx)px">@Amount.Value.ToString("N0")</span>
    }

    <img src="img/kama-@(IconSizeInPx).png" width="@IconSizeInPx" height="@IconSizeInPx" alt="Kamas icon"/>
</div>

@code {

    int TextSizeInPx =>
        Size switch
        {
            IconSize.Small => 12,
            IconSize.Medium => 24,
            IconSize.Large => 48,
            _ => throw new ArgumentOutOfRangeException()
        };

    int IconSizeInPx =>
        Size switch
        {
            IconSize.Small => 12,
            IconSize.Medium => 24,
            IconSize.Large => 48,
            _ => throw new ArgumentOutOfRangeException()
        };

    [Parameter]
    public double? Amount { get; init; }

    [Parameter]
    public IconSize Size { get; init; }

}